{{>head}}
<p>Use this site to get your weather!</p>
<form>
  <input type="text" placeholder="Enter an address here">
  <button>Search</button>
  <button id="clearOutputs">Clear</button>
</form>

<p id="message-1"></p>
<p id="message-2"></p>

</div>
{{>footer}}
<script src="/js/app.js"></script>
</body>

</html>